body {
  margin: 0px;
  background-color: #fddfdd;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

#intro_paragraph {
  text-align: center;
  padding: 75px;
  font-size: 75px;
  color: #ffffff;
}