
body {
  margin: 0px;
  padding: 0px;
  background-color: #fd999d;
  height: 100%;
  text-align: center;
  color: #ffc4c4;
}


.title {
  font-size: 75px;
  font-family: 'Quicksand', sans-serif;
  margin-top: 75px;
  line-height: 75px;
  padding-bottom: 15px;

}

.date {
  font-size: 15px;
  font-family: 'Inconsolata', monospace;
}

.content {
  text-align: left;
  font-size: 18px;
  line-height: 25px;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 30px;
  color: white;
  font-family: 'Inconsolata', monospace;
  margin-bottom: 0px

}
