body {
  background-color: #fddfdd;
  color: #000000;
  margin: 0px;
  padding: 30px;
}

#title {
  font-size: calc(40px + 2vw);
  min-width: 70%;
  font-family: 'Quicksand', sans-serif;
  margin: 0px 0px 15px 0px;
  text-align: center;
}

#items {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-top: 50px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: 0.4;
}

#back_button {
  text-align: left;
  margin-left: 20px;
  width: 20px;
  background-color: #fdc3c5;
  padding: 10px 11px 10px 10px;
  border-radius: 100%;
}

#back_button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#back_button span {
  background-color: #fdc3c5;
  padding: 5px 15px;
  border-radius: 100%;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  background-color: #fdc3c5;
  width: 350px;
  text-align: center;
  margin: 25px;
  padding: 10px;
  border-radius: 15px;
  color: #000000;
  font-family: 'Inconsolata', monospace;
  box-shadow: 3px 3px #ffffff;
}

#project_title {
  font-size: 22px;
  margin: 10px;
  color: white;
}

#project_image {
  width: 80%;
  padding: 7px;
  border-radius: 15px;
}

.project_content {
  display: flex;
  justify-content: center;
}

.links {
  padding: 50px 0px;
}

#link {
  height: 30px;
  margin: 5px 0px;
}

#link:hover {
  opacity: 0.6;
  cursor: pointer;
}

#artist, #song_title {
  font-size: 25px;
}