
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #ffc4c4;
  height: 100%;
  vertical-align: center;

}



.intro {
  height: 100%;
  text-align: center;
}

.typing {
  color: white;
  text-align: center;
  vertical-align: center;
  font-size: 90px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  padding-top: 215px;
  padding-bottom: 50px;
  animation:
    type 4.0s steps(50, end);
}

@keyframes type {
  from { width : 0 }
  to { width : 100% }
}
.menu {
  text-align: right;
}

#menu_icon {
  margin-top: 5px;
  margin-right: 5px
}

#arrow_button {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
}



.current{
  background-color: #fd999d;
  height: 100%;
  text-align: center;
}

#current_title, #education_title, #blog_title, #contact_title {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
  padding-top: 75px;
  margin: 0px;
}

#items {
  font-family: 'Inconsolata', monospace;
  font-size: 30px;
  line-height: 35px;
  color: white;
  margin-top: 50px;
  text-align: center;
}



.information {
  background-color: #ffc4c4;
  display: flex;
  height: 100%;
}

.intro_text {
  text-align: left;
  color: #ffffff;
  padding: 75px;
}

#intro_title {
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
}

#intro_paragraph {
  font-family: 'Inconsolata', monospace;
  font-size: 21px;
  line-height: 25px;
  margin-top: 25px;
}

#profile_image {
  margin: 75px;
  margin-right: 0px;
  border-radius: 40%;
  border: 7px solid #fd999d;
  width: 250px;
  height: 300px;
}



.education {
  background-color: #fd999d;
  height: 125%;
  text-align: center;
}

.college {
  float: left;
  width: 50%;
}

.high_school {
  float: right;
  width: 50%;
}

.college_classes, .high_school_classes {
  margin-left: 150px;
  margin-right: 75px;
}

.high_school_classes {
  margin-left: 75px;
  margin-right: 150px;
}


#high_school_title, #college_title, #other_title {
  margin: 75px;
  margin-top: 0px;
  color: #ffc4c4;
  margin-bottom: 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
}

#other_title {
  text-align: center;
  padding-top: 25px;
}

#education_title {
  padding-bottom: 50px;
}

#current, #complete, #upcoming {
  font-family: 'Inconsolata', monospace;
  font-size: 25px;
  text-align: left;
  color: white;
  padding-top: 15px;
}

.high_school_classes, .college_classes, #stats {
  font-family: 'Inconsolata', monospace;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: white;
}



.blog {
  height: 60%;
  background-color: #ffc4c4;
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 35px;
  font-family: 'Inconsolata', monospace;
  margin: 0px;
}


#blog_title, #contact_title {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
  padding: 75px;
  padding-bottom: 0px;
  margin-bottom: 75px;
}

#freshman_blog_link {
    color: white;
    text-decoration: none;
}

#quotes_link {
  color: white;
  text-decoration: none;
}

.contact {
  height: 50%;
  background-color: #fd999d;
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 35px;
  font-family: 'Inconsolata', monospace;
}



light_pink {
  color: #ffc4c4;
}

dark_pink {
  color: #fd999d;
}

red {
  color: #c75a5f;
}
