html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #fddfdd;
  vertical-align: center;
}


#menu_icon {
  margin-top: 5px;
  cursor: pointer;
  border-radius: 15px;
  padding-right: 15px;
}

.menu_header {
  display: flex;
  justify-content: flex-end;
}

#menu_icon:hover {
  opacity: 0.6;
}

#link_list {
  text-align: right;
  position: absolute;
  display: none;
  right: 0;
  padding-right: 15px;

}

#menu_link, #more_link{
  color: #000000;
  font-family: 'Inconsolata', monospace;
  font-size: 21px;
  line-height: 25px;
  text-decoration: none;
}

#menu_link:hover, #more_link:hover {
  opacity: 0.4;
}

#more_link:hover {
  opacity: 0.4;
  cursor: pointer;
}

#more_link {
  color:  #ffffff;
}

.intro {
  height: 100%;
  text-align: center;
}

.typing {
  color: #000000;
  font-size: calc(15px + 6vw);
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  padding-top: 25vh;
  padding-bottom: 50px;
  animation:
    type 4.0s steps(50, end);
}

@keyframes type {
  from { width : 0 }
  to { width : 100% }
}

#arrow {
  width: 30px;
  background-color: #FDC3C5;
  padding: 12px 10px 10px 10px;
  border-radius: 100%;
}

#arrow:hover {
  opacity: 0.6;
  cursor: pointer;
}

.information {
  background-color: #FDC3C5;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  text-align: center;
}

.intro_text {
  color: #ffffff;
  text-align: left;
}

#intro_title {
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
}

#intro_paragraph {
  font-family: 'Inconsolata', monospace;
  font-size: 21px;
  line-height: 25px;
  margin-top: 25px;
  max-width: 60rem;
}

#profile_image {
  width: calc(100px + 10vw);
  height: calc(120px + 12vw);
  margin-right: 0px;
  border-radius: 40%;
  border: 7px solid #fddfdd;
  margin-right: 50px;
}


.blog {
  background-color: #fddfdd;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  font-family: 'Inconsolata', monospace;
  margin: 0px;
  padding-bottom: 40px;
}

#blog_title, #contact_title {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  text-align: center;
  color: #000000;
  padding: 75px;
  padding-bottom: 0px;
  margin-bottom: 75px;
  margin-top: 0px;
}

#coding_journey_1_link, #quotes_link, #speech_link {
  color: #000000;
  text-decoration: none;
  border: 1.25px solid #FDC3C5;

  padding: 5px 10px;
  border-radius: 10px;
}

#coding_journey_1_link:hover, #quotes_link:hover, #speech_link:hover {
  opacity: 0.4;
}

.contact {
  background-color: #FDC3C5;
  font-family: 'Inconsolata', monospace;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff;
}

#contact_link {
  margin: 75px 10px 75px 10px;
}

#contact_link:hover {
  opacity: 0.6;
  cursor: pointer;
}

#email_input {
  padding: 5px;
  color: #000000;
  border: none;
  border-radius: 7px;
  font-family: 'Inconsolata', monospace;
  width: 72%;
  margin-bottom: 5px;
  margin-top: 2px;
}

#message_input {
  padding: 5px;
  color: #000000;
  border: none;
  border-radius: 7px;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 2px;
}

#submit_button {
  border: none;
  font-family: 'Inconsolata', monospace;
  background-color: #fddfdd;
  padding: 4px 8px;
  color: #ffffff;
  border-radius: 8px;
}

#submit_button:hover {
  cursor: pointer;
  opacity: 0.6;
}


#email_input:focus, #message_input:focus, #submit_button:focus {
  outline: none;
}

form {
  width: 250px;
  margin: 50px 10px 50px 10px;
  padding-left: 30px;
}

light_pink {
  color: #fddfdd;
}