
html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #ffc4c4;
  vertical-align: center;

}


.menu {
  text-align: right;

}

#menu_icon {
  background-color: #fd999d;
  margin: 5px;
}

.menu_header {
  display: flex;
  justify-content: flex-end;
}

#link_list {
    display: none;
    position: absolute;
    right: 0;
    padding-right: 15px;
}

#current_link, #education_link, #information_link, #blog_link, #contact_link, #more_link  {
  color: white;
  font-family: 'Inconsolata', monospace;
  font-size: 21px;
  line-height: 25px;
  decoration: none;
  text-decoration: none;
}

#current_link:hover, #education_link:hover, #information_link:hover, #blog_link:hover, #contact_link:hover {
  color: #fd999d;
}

#more_link:hover {
  color: #ffc4c4;
}

#more_link {
  text-align: right;
}

.intro {
  height: 100%;
  text-align: center;
}

.typing {
  color: white;
  text-align: center;
  vertical-align: center;
  font-size: 90px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  padding-top: 215px;
  padding-bottom: 50px;
  animation:
    type 4.0s steps(50, end);
}

@keyframes type {
  from { width : 0 }
  to { width : 100% }
}

#menu_icon {
  margin-top: 5px;
  cursor: pointer;
}

#arrow_button {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  text-align: center;
}




.information {
  background-color: #fd999d;
  display: flex;
  justify-content: flex-end;
}

.intro_text {
  color: #ffffff;
  padding: 75px;
  text-align: left;
}

#intro_title {
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
}

#intro_paragraph {
  font-family: 'Inconsolata', monospace;
  font-size: 21px;
  line-height: 25px;
  margin-top: 25px;
}

#profile_image {
  margin: 75px;
  margin-right: 0px;
  border-radius: 40%;
  border: 7px solid #ffc4c4;
  width: 250px;
  height: 300px;
}



.blog {
  background-color: #ffc4c4;
  text-align: center;
  color: white;
  font-size: 30px;
  line-height: 35px;
  font-family: 'Inconsolata', monospace;
  margin: 0px;
  padding-bottom: 75px;
}


#blog_title, #contact_title {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  text-align: center;
  color: white;
  padding: 75px;
  padding-bottom: 0px;
  margin-bottom: 75px;
}

#coding_journey_1_link {
    color: white;
    text-decoration: none;
}

#coding_journey_1_link:hover {
  color: #fd999d;
}



.contact {
  background-color: #fd999d;
  color: white;
  font-size: 30px;
  line-height: 35px;
  font-family: 'Inconsolata', monospace;
  padding-bottom: 75px;
  justify-content: center;
  display: flex;
}

.contact_links {
  padding-top: 75px;
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

#resume_icon, #instagram_icon, #twitter_icon, #facebook_icon, #linkedin_icon, #email_icon, #down_arrow_1 {
  cursor: pointer;
}



light_pink {
  color: #ffc4c4;
}

dark_pink {
  color: #fd999d;
}

red {
  color: #c75a5f;
}
