html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: #fde7e6;
  vertical-align: center;
}

.pink_body {
  background-color: #fde7e6;
}


#menu_icon {
  margin-top: 5px;
  cursor: pointer;
  border-radius: 15px;
  padding-right: 15px;
}

.menu_header {
  display: flex;
  justify-content: flex-end;
}

#menu_icon:hover {
  opacity: 0.6;
}

#link_list {
  text-align: right;
  position: absolute;
  /* display: none; */
  right: 0;
  padding-right: 15px;
  padding-top: 30px;

}

#menu_link, #more_link{
  color: #000000;
  font-family: 'Inconsolata', monospace;
  font-size: 21px;
  line-height: 30px;
  text-decoration: none;
}

#menu_link:hover, #more_link:hover {
  opacity: 0.4;
}

#more_link:hover {
  opacity: 0.4;
  cursor: pointer;
}

.intro {
  /* height: 100%; */
  text-align: center;
}

.typing {
  color: #000000;
  font-size: calc(15px + 5vw);
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  /* padding-top: 5vh; */
  padding-bottom: 25px;
  padding-top: 75px;
  animation:
    type 4.0s steps(50, end);
}

@media only screen and (max-width: 775px)  {
  [class*="typing"] {
    padding-top: 200px;
  }
}


@keyframes type {
  from { width : 0 }
  to { width : 100% }
}

#arrow {
  width: 30px;
  background-color: #fdc3c5;
  padding: 12px 10px 10px 10px;
  border-radius: 100%;
}

#arrow:hover {
  opacity: 0.6;
  cursor: pointer;
}

.information {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  text-align: center;
}

.intro_text {
  color: #000000;
  text-align: left;
  margin: 25px 0px;
  /* margin-bottom: 25px;
  margin-top: 50px; */
}

#intro_title {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}

.highlight {
  background-color: #fdc3c5;
  padding: 1px 10px;
  border-radius: 10px;
}

#intro_paragraph {
  font-family: 'Inconsolata', monospace;
  font-size: 21px;
  line-height: 27px;
  /* margin: 15px 0px; */
  max-width: 50rem;
  background-color: #fde7e6;
  /* padding: 25px; */
  border-radius: 20px;
}

#profile_image {
  width: 235px;
  height: 275px;
  border-radius: 40%;
  border: 7px solid #fdc3c5;
  margin: 0px 50px;
}

.profile_image {
  justify-content: center;
}

.blogs, .projects {
  /* margin: 0px 20vw; */
  font-family: 'Inconsolata', monospace;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog, .project {
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 15px 10px;
  color: #000000;
  box-shadow: 3px 3px #fdc3c5;
  flex-wrap: wrap;
  max-width: 800px;
  min-width: 275px;
}

.blog:hover {
  cursor: pointer;
  background-color: #efefef;
}

.blog_title {
  font-size: 30px;
  margin: 0px;
  line-height: 35px;
}

.blog_date {
  font-size: 15px;
  line-height: 21px;
  margin: 0px;
}

@media only screen and (max-width: 1200px)  {
  .blogs {
    padding-top: 200px;
  }
}




/* 
.blog {
  background-color: #fddfdd;
  text-align: center;
  font-size: 30px;
  line-height: 35px;
  font-family: 'Inconsolata', monospace;
  margin: 0px;
  padding-bottom: 40px;
} */

#contact_title {
  font-family: 'Quicksand', sans-serif;
  font-size: 50px;
  text-align: center;
  color: #000000;
  padding: 50px;
  padding-bottom: 0px;
  margin-bottom: 50px;
  margin-top: 0px;
}
/* 
#blog_link {
  color: #000000;
  text-decoration: none;
  border: 1.25px solid #fdc3c5;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 10px 30px;
}



#blog_link:hover {
  opacity: 0.4;
} */

.contact {
  background-color: #fde7e6;
  font-family: 'Inconsolata', monospace;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  color: #000000;
}

#contact_link {
  margin: 100px 10px 50px 10px;
}

#contact_link:hover {
  opacity: 0.6;
  cursor: pointer;
}

#email_input {
  padding: 5px;
  color: #000000;
  border: none;
  border-radius: 7px;
  font-family: 'Inconsolata', monospace;
  width: 72%;
  margin-bottom: 5px;
  margin-top: 2px;
}

#message_input {
  padding: 5px;
  color: #000000;
  border: none;
  border-radius: 7px;
  font-family: 'Inconsolata', monospace;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 2px;
  max-width: 250px;
  max-height: 60px;
  min-width: 250px;
  min-height: 60;
}

#submit_button {
  border: none;
  font-family: 'Inconsolata', monospace;
  background-color: #fdc3c5;
  padding: 4px 8px;
  color: #000000;
  border-radius: 8px;
  -webkit-appearance: none;
}

#submit_button:hover {
  cursor: pointer;
  opacity: 0.6;
}


#email_input:focus, #message_input:focus, #submit_button:focus {
  outline: none;
}

form {
  width: 250px;
  margin: 50px 10px 50px 10px;
  padding-left: 30px;
}

light_pink {
  color: #000000;
}

a {
  text-decoration: none;
}


#title {
  font-size: calc(40px + 2vw);
  min-width: 70%;
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
  text-align: center;
}

#items {
  font-family: 'Inconsolata', monospace;
  font-size: calc(25px + 0.6vw);
  line-height: 40px;
  color: #000000;
  margin-top: 40px;
  text-align: center;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  opacity: 0.4;
}


.project {
  background-color: #ffffff;
  /* text-align: center; */
  margin: 25px;
  padding: 10px;
  border-radius: 15px;
  color: #000000;
  font-family: 'Inconsolata', monospace;
  box-shadow: none;
  min-width: 275px;
}

#project_title {
  font-size: 22px;
  margin: 10px;
  color: #000000;
}

#project_image {
  width: 255px;
  height: 158px;
  padding: 7px;
  border-radius: 15px;
  border: 1px solid #fdc3c5;
  margin: 5px 15px 5px 5px;
}

.project_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project_info {
  margin: 0px 25px;
  max-width: 350px;
  min-width: 200px;
  flex-wrap: wrap;
}


.links {
  padding: 50px 0px;
}

#link {
  height: 30px;
  margin: 5px 0px;
}

#link:hover {
  opacity: 0.6;
  cursor: pointer;
}




.activity {
  font-family: 'Inconsolata', monospace;
  margin: 5px 15px;
  font-size: 18px;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  /* max-width: 900px; */
  justify-content: center;
  max-width: 50rem;

}

#profile_image_contact {
  width: 225px;
  height: 270px;
  border-radius: 40%;
  /* border: 5px solid #fdc3c5; */
}

#contact_div {
  text-align: center;
  justify-content: center;
  display: flex;
}

#contact_span {
  border: 5px solid #fdc3c5;
  padding: 10px 30px;
  border-radius: 50px;

}

#contact_link_mod {
  font-family: 'Inconsolata', monospace;
  font-size-adjust: 18px;
}


@media only screen and (max-width: 430px)  {
  .links {
    display: flex;
    justify-content: center;
    padding: 10px 0px;
  }

  #link {
    margin: 5px;
  }
}

@media only screen and (max-width: 709px)  {
  .projects, #contact_div {
    padding-top: 200px;
  }
}